* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.nome {
    font-family: EB Garamond, serif;
    text-align: center;
}

body {
    background-color: goldenrod;
    font-family: sans-serif;
    text-align: justify;
    
}

.sobre {
    background-color: #8CDFD6;
}

.skills {
    background-color: #6DC0D5;
}

.links {
    background-color: #8CDFD6;
}

.fotoLucas {

}