* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.nome {
    font-family: EB Garamond, serif;
    text-align: center;
}

body {
    background-color: #000;
    font-family: sans-serif;
    text-align: justify;
}

.sectionAboutMe {
    background-color: #054747;
    padding: 10px;
}

.sectionSkills {
    background-color: #005050;
    padding: 10px;
    margin: auto;
}

.Ulist {
    margin: auto;
}
.ListItems1 {
    margin: 2px 10px 2px 20px
}

.sectionLinks {
    background-color: #0a5858;
    padding: 10px;
}

.logoLinkedin {
    margin: 10px;
    padding: 10px;
}

.logoGithub {
    margin: 10px;
    padding: 10px;
    
}