#Nome {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    }
body {
    background-color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
